body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1384px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1532px;
  height:819px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:819px;
  width:1532px;
  height:819px;
  font-size:12px;
  color:#797979;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1532px;
  height:819px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1532px;
  height:819px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:31px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:206px;
  width:696px;
  height:31px;
  color:#949494;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:692px;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:134px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:250px;
  width:696px;
  height:134px;
  color:#949494;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:692px;
  word-wrap:break-word;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'文悦新青年体 (非商业使用) W8', '文悦新青年体 (非商业使用)';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:52px;
  width:36px;
  height:25px;
  font-family:'文悦新青年体 (非商业使用) W8', '文悦新青年体 (非商业使用)';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'文悦新青年体 (非商业使用) W8', '文悦新青年体 (非商业使用)';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:52px;
  width:36px;
  height:25px;
  font-family:'文悦新青年体 (非商业使用) W8', '文悦新青年体 (非商业使用)';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'文悦新青年体 (非商业使用) W8', '文悦新青年体 (非商业使用)';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:52px;
  width:36px;
  height:25px;
  font-family:'文悦新青年体 (非商业使用) W8', '文悦新青年体 (非商业使用)';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:1361px;
  top:54px;
  width:23px;
  height:23px;
  font-family:'文悦新青年体 (非商业使用) W8', '文悦新青年体 (非商业使用)';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'文悦新青年体 (非商业使用) W8', '文悦新青年体 (非商业使用)';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:52px;
  width:36px;
  height:25px;
  font-family:'文悦新青年体 (非商业使用) W8', '文悦新青年体 (非商业使用)';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'文悦新青年体 (非商业使用) W8', '文悦新青年体 (非商业使用)';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:52px;
  width:36px;
  height:25px;
  font-family:'文悦新青年体 (非商业使用) W8', '文悦新青年体 (非商业使用)';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'French Script MT Bold', 'French Script MT Normal', 'French Script MT';
  font-weight:700;
  font-style:normal;
  font-size:58px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:21px;
  width:274px;
  height:75px;
  font-family:'French Script MT Bold', 'French Script MT Normal', 'French Script MT';
  font-weight:700;
  font-style:normal;
  font-size:58px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:82px;
  width:7px;
  height:7px;
  color:#FF8000;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:124px;
  width:72px;
  height:72px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:373px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:398px;
  width:696px;
  height:373px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:55px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:500px;
  width:64px;
  height:55px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#797979;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:574px;
  width:62px;
  height:18px;
  font-size:15px;
  color:#797979;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:686px;
  width:140px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:686px;
  width:140px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:837px;
  width:44px;
  height:18px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:31px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:831px;
  width:215px;
  height:31px;
  color:#949494;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:211px;
  word-wrap:break-word;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#797979;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:889px;
  width:25px;
  height:14px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#797979;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#797979;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:889px;
  width:25px;
  height:14px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#797979;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#797979;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:889px;
  width:25px;
  height:14px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#797979;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#797979;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:889px;
  width:25px;
  height:14px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#797979;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:842px;
  width:44px;
  height:18px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:31px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:837px;
  width:215px;
  height:31px;
  color:#949494;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:211px;
  word-wrap:break-word;
}
